.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 30px;
}

.buttonsWrap {
  display: flex;
  gap: 12px;
}